<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag route, method: method do %>


  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
    <input type="text" name="name" value="<%= @product.name %>">
  </div>

  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>

  <div>
    <label>Supplier Id</label>
    <select name="supplier_id">
      <% @suppliers.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>
  </div>

  <%= submit_tag submit_message %>
<% end %>
