    <section>
      <div class="row">

        <% @products.each do |product| %>
          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= product.name %></h2>
              <p>Price: <%= product.price %></p>
              <% if product.price.to_i < 20 %>
                <p class="sale-item">THIS IS RED: <%= product.sale_message %></p>
              <% else %>
                <p>Sale Message: <%= product.sale_message %></p>
              <% end %>

              <p>Description: <%= product.description %></p>
            </div>
          </div>
        <% end %>

      </div>
    </section>

