  <section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <h2><%= @product.supplier.name %></h2>
            <p>Price: <%= @product.price %></p>
            <% @product.images.each do |image| %>
            <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>

            <p>Description: <%= @product.description %></p>
            <p>categories:
            <% @product.categories.each do |category| %>
              <%= category.name %>
            <% end %>
            </p>

            <% if current_user && current_user.admin %>
              <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
              <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>

        </div>
        <% if current_user %>
          <%= form_tag "/carted_products", method: :post do %>
            <input type="text" name="quantity">
            <p><input type="hidden" name="product_id" value="<%= @product.id %>"></p>
            <input type="submit" value="Add to cart!">
          <% end %>
          <a href="/products/<%= @product.id %>/images/new">Make a new photot for this one</a>
        <% end %>
      </div>
    </div>
  </section>
